{% extends 'base.html' %} {% block header %}
<h1>{% block title %}lista de artista{% endblock %}</h1>
{% endblock %} {% block content %}
<h1>artista</h1>
{% for artista in artista %}
<article class="post">
  <header>
    <div>
      <a href="{{ url_for('artista.detalle', id=artista['id']) }}">
        {{ artista['artista'] }}
      </a>
      {% for album in albums %}
      <a href="{{ url_for('albums.detalle', id=albums['id']) }}">
        {{ album['nombre_del_album'] }}</a
      >
      {% endfor %}
    </div>
  </header>
</article>
{% endfor %} {% endblock %}
