<!DOCTYPE html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
<nav>
  <h1>WEB DE MUSICA</h1>
  <ul>
    <li><a href="{{ url_for('albums.index') }}">albums</a></li>
    <li><a href="{{ url_for('artista.index') }}">artista</a></li>
    <li><a href="{{ url_for('music.index') }}">music</a></li>
  </ul>
</nav>
<section class="content">
  <header>{% block header %}{% endblock %}</header>
  {% for message in get_flashed_messages() %}
  <div class="flash">{{ message }}</div>
  {% endfor %} {% block content %}{% endblock %}
</section>
